.navbar {
    background-color: green;
    padding: 0px 20px;
}
.navbar *,.nav-item{
    color: white;
    font-size: 15px;
}
.navbar * :hover{
    color: white;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    color: black;
    text-decoration: underline;
}